@import "@fontsource/anton/latin-400.css";
@import "@fontsource/outfit/latin-400.css";
@import "@fontsource/outfit/latin-500.css";
@import "@fontsource/outfit/latin-700.css";
@import "@fontsource/jetbrains-mono/latin-400.css";
@import "@fontsource/jetbrains-mono/latin-700.css";

html,
#explorer-root {
  width: 100%;
  min-width: 0;
  min-height: 0;
  margin: 0;
  overflow: hidden;
  background: transparent !important;
}

body {
  width: 100%;
  min-width: 0;
  min-height: 0;
  margin: 0;
  overflow: hidden;
  font-family: "Outfit", sans-serif;
  background: transparent !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
